body,
html {
  font-family: "SF Pro Display";
}
body.overflow,
html.overflow {
  overflow: hidden !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display";
}

input,
textarea {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1400px) {
  .wrapper {
    padding: 0 20px;
  }
}

.leave-request-wrap {
  background: #3B0608;
  padding: 70px 0;
}
@media (max-width: 1024px) {
  .leave-request-wrap {
    padding: 50px 0;
  }
}
.leave-request-wrap .leave-request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .leave-request-wrap .leave-request {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.leave-request-wrap .leave-request .text-wrap {
  width: 43%;
  align-self: flex-end;
}
@media (max-width: 1400px) {
  .leave-request-wrap .leave-request .text-wrap {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  .leave-request-wrap .leave-request .text-wrap {
    width: 100%;
  }
}
.leave-request-wrap .leave-request .text-wrap h2 {
  color: #F7DEBC;
  font-size: 80px;
  font-style: italic;
  font-weight: 700;
  line-height: 90%;
  margin-bottom: 60px;
}
@media (max-width: 1800px) {
  .leave-request-wrap .leave-request .text-wrap h2 {
    font-size: 4.2vw;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .leave-request-wrap .leave-request .text-wrap h2 {
    font-size: 8vw;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .leave-request-wrap .leave-request .text-wrap h2 {
    font-size: 8vw;
    line-height: 100%;
    margin-bottom: 20px;
  }
}
.leave-request-wrap .leave-request .text-wrap p {
  font-size: 26px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}
@media (max-width: 1600px) {
  .leave-request-wrap .leave-request .text-wrap p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1024px) {
  .leave-request-wrap .leave-request .text-wrap p {
    text-align: center;
    margin-top: 0;
    font-size: 16px;
  }
}
.leave-request-wrap .leave-request .text-wrap form button {
  width: 100%;
  height: 65px;
  border-radius: 40px;
  background: #F7DEBC;
  color: #3B0608;
  font-size: 24px;
  border: 2px solid #F7DEBC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.leave-request-wrap .leave-request .text-wrap form button:hover {
  background: #3B0608;
  color: #F7DEBC;
}
@media (max-width: 1400px) {
  .leave-request-wrap .leave-request .text-wrap form button {
    font-size: 20px;
    height: 50px;
  }
}
.leave-request-wrap .leave-request .text-wrap form input {
  width: 100%;
  height: 65px;
  margin-bottom: 15px;
  border-radius: 40px;
  background: #fff;
  padding: 0 30px;
  border: 1px solid #fff;
  color: rgba(24, 29, 36, 0.8);
  font-size: 24px;
}
.leave-request-wrap .leave-request .text-wrap form input::-webkit-input-placeholder {
  color: rgba(24, 29, 36, 0.5);
  font-size: 24px;
}
.leave-request-wrap .leave-request .text-wrap form input::-moz-placeholder {
  color: rgba(24, 29, 36, 0.5);
  font-size: 24px;
}
.leave-request-wrap .leave-request .text-wrap form input:-ms-input-placeholder {
  color: rgba(24, 29, 36, 0.5);
  font-size: 24px;
}
.leave-request-wrap .leave-request .text-wrap form input:-moz-placeholder {
  color: rgba(24, 29, 36, 0.5);
  font-size: 24px;
}
@media (max-width: 1400px) {
  .leave-request-wrap .leave-request .text-wrap form input {
    height: 50px;
    font-size: 20px;
  }
  .leave-request-wrap .leave-request .text-wrap form input::-webkit-input-placeholder {
    font-size: 20px;
  }
  .leave-request-wrap .leave-request .text-wrap form input::-moz-placeholder {
    font-size: 20px;
  }
  .leave-request-wrap .leave-request .text-wrap form input:-ms-input-placeholder {
    font-size: 20px;
  }
  .leave-request-wrap .leave-request .text-wrap form input:-moz-placeholder {
    font-size: 20px;
  }
}
.leave-request-wrap .leave-request .text-wrap form input:focus {
  border-color: #AC7644;
}
.leave-request-wrap .leave-request .img-wrap {
  width: 53%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-self: flex-end;
}
@media (max-width: 1400px) {
  .leave-request-wrap .leave-request .img-wrap {
    width: 49%;
  }
}
@media (max-width: 1024px) {
  .leave-request-wrap .leave-request .img-wrap {
    display: none;
  }
}
.leave-request-wrap .leave-request .img-wrap img {
  max-width: 100%;
  max-height: 100%;
}

.white-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 54px;
  border-radius: 40px;
  color: #AC7644;
  font-weight: 600;
  background: white;
}
.white-btn:hover {
  background: #AC7644;
  color: white;
  border-color: white;
}

.location {
  padding: 80px 0;
  background: #F7F4EF;
}
@media (max-width: 1024px) {
  .location {
    padding: 30px 0;
  }
}
.location .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .location .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.location .wrapper .left-info {
  width: 42%;
}
@media (max-width: 1024px) {
  .location .wrapper .left-info {
    width: 100%;
  }
}
.location .wrapper .left-info h2 {
  font-size: 80px;
  font-style: italic;
  font-weight: 700;
  line-height: 90%;
  color: #3B0608;
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
}
@media (max-width: 1600px) {
  .location .wrapper .left-info h2 {
    font-size: 70px;
  }
}
@media (max-width: 1300px) {
  .location .wrapper .left-info h2 {
    font-size: 50px;
  }
}
@media (max-width: 1024px) {
  .location .wrapper .left-info h2 {
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .location .wrapper .left-info h2 {
    font-size: 40px;
  }
}
.location .wrapper .left-info .subtitle {
  display: block;
  font-size: 30px;
  margin-bottom: 40px;
  color: #181D24;
  line-height: 100%;
  font-family: "Playfair Display", serif;
}
@media (max-width: 1600px) {
  .location .wrapper .left-info .subtitle {
    font-size: 24px;
  }
}
@media (max-width: 1300px) {
  .location .wrapper .left-info .subtitle {
    font-size: 22px;
  }
}
@media (max-width: 1024px) {
  .location .wrapper .left-info .subtitle {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .location .wrapper .left-info .subtitle {
    font-size: 18px;
    margin-top: -5px;
  }
}
.location .wrapper .right-info {
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .location .wrapper .right-info {
    width: 100%;
    margin-top: 30px;
  }
}
.location .wrapper .right-info .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
}
.location .wrapper .right-info .map .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.location .wrapper .right-info .map .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location .wrapper .right-info .map .white-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 10;
}
@media (max-width: 1300px) {
  .location .wrapper .right-info .map .white-btn {
    right: 20px;
    bottom: 20px;
  }
}

.tabs {
  max-width: 450px;
  width: 100%;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .tabs {
    margin-top: 20px;
  }
}
.tabs .tab-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 1300px) {
  .tabs .tab-buttons {
    margin-bottom: 15px;
    justify-content: inherit;
  }
}
.tabs .tab-buttons .tab-button {
  padding-bottom: 20px;
  font-size: 30px;
  color: #000;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
@media (max-width: 1300px) {
  .tabs .tab-buttons .tab-button {
    font-size: 26px;
    padding-bottom: 15px;
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .tabs .tab-buttons .tab-button {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
.tabs .tab-buttons .tab-button.active {
  color: #3B0608;
  border-color: #3B0608;
}

.tab-content {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: 0.5s ease;
}
.tab-content .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.tab-content .info-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1300px) {
  .tab-content .info-item {
    margin-bottom: 20px;
  }
}
.tab-content .info-item .texts {
  align-self: flex-end;
}
.tab-content .info-item .texts span {
  font-size: 18px;
  margin-bottom: 8px;
  color: #1A282A;
  display: block;
  max-width: 230px;
}
@media (max-width: 767px) {
  .tab-content .info-item .texts span {
    font-size: 16px;
  }
}
.tab-content .info-item .texts span.grey {
  font-size: 14px;
  font-weight: 300;
  color: #1A282A;
  margin-bottom: 0;
}
.tab-content .info-item .texts span.white {
  margin-bottom: 0;
}
.tab-content .info-item .time {
  margin-left: 10px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .tab-content .info-item .time {
    margin-right: 20px;
  }
}
.tab-content .info-item .time b {
  font-size: 44px;
  line-height: 100%;
  font-weight: normal;
  color: #3B0608;
}
.tab-content .info-item .time span {
  color: #3B0608;
  font-size: 24px;
  margin-left: 5px;
}

.tab-content.active {
  opacity: 1;
  height: auto;
  overflow: visible;
  visibility: visible;
}

.slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 50px;
  right: 60px;
  z-index: 10;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.slider-navigation button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  opacity: 0.8;
  background: #fff;
  border: 1px solid #CA9D75;
  height: 90px;
  border-radius: 50%;
  z-index: 10;
}
@media (max-width: 1300px) {
  .slider-navigation button {
    width: 60px;
    height: 60px;
  }
}
.slider-navigation button:hover {
  opacity: 1;
}
.slider-navigation button img {
  margin: auto;
}
@media (max-width: 1300px) {
  .slider-navigation button img {
    width: 40px;
  }
}
.slider-navigation button:before {
  content: none;
}
.slider-navigation button.slick-prev {
  left: 20px;
}
@media (max-width: 767px) {
  .slider-navigation button.slick-prev {
    left: 10px;
  }
}
.slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}
.slider-navigation button.slick-next {
  right: 20px;
}
@media (max-width: 767px) {
  .slider-navigation button.slick-next {
    right: 10px;
  }
}

.drop-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  background: #CA9D75;
  padding: 15px 25px;
}
@media (max-width: 1024px) {
  .drop-menu {
    padding: 10px 18px;
  }
}
.drop-menu .line {
  width: 40px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.drop-menu.is-active .line:nth-child(3) {
  opacity: 0;
}

.drop-menu.is-active .line:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(45deg);
  -ms-transform: translateY(12px) rotate(45deg);
  -o-transform: translateY(12px) rotate(45deg);
  transform: translateY(12px) rotate(45deg);
}

.drop-menu.is-active .line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  -o-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}

.header {
  padding: 30px 0;
  background: #3B0608;
  position: relative;
  z-index: 1;
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 0;
  }
}
.header .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header-info .header-menu-wrap {
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  z-index: 10;
  background: #3B0608;
  padding: 50px;
  overflow-y: auto;
  height: calc(100dvh - 121px);
  transform: scale(0);
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1024px) {
  .header .header-info .header-menu-wrap {
    width: 100%;
  }
}
.header .header-info .header-menu-wrap.open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
@media (max-width: 1400px) {
  .header .header-info .header-menu-wrap {
    padding: 40px 20px;
  }
}
@media (max-width: 1024px) {
  .header .header-info .header-menu-wrap {
    height: calc(100dvh - 90px);
    padding-top: 10px;
  }
}
.header .header-info .header-menu-wrap .info .logo-white {
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .header .header-info .header-menu-wrap .info .logo-white {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}
.header .header-info .header-menu-wrap .info .main-menu li a {
  padding: 20px;
  font-size: 44px;
  font-weight: 300;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1700px) {
  .header .header-info .header-menu-wrap .info .main-menu li a {
    font-size: 34px;
  }
}
@media (max-width: 1400px) {
  .header .header-info .header-menu-wrap .info .main-menu li a {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .header .header-info .header-menu-wrap .info .main-menu li a {
    font-size: 20px;
    padding: 15px 0;
  }
}
@media (min-width: 1025px) {
  .header .header-info .header-menu-wrap .info .main-menu li a:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
.header .header-info .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 1500px) {
  .header .header-info .logo {
    width: 200px;
  }
}
@media (max-width: 1024px) {
  .header .header-info .logo {
    width: 120px;
  }
  .header .header-info .logo img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .header .header-info .buttons {
    display: none;
  }
}
.header .header-info .buttons a {
  margin-left: 25px;
  padding: 10px 54px;
  border-radius: 40px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  background: #CA9D75;
}
@media (max-width: 1500px) {
  .header .header-info .buttons a {
    padding: 10px 34px;
  }
}
.header .header-info .buttons a:hover {
  background: #fff;
  color: #1F2C3C;
}
.header .header-info .buttons a.white-btn2 {
  background: white;
  color: #1F2C3C;
}
.header .header-info .buttons a.white-btn2:hover {
  background: #CA9D75;
  color: white;
}
@media (max-width: 1400px) {
  .header .header-info .texts {
    display: none;
  }
}
.header .header-info .texts a {
  font-size: 24px;
  font-weight: 500;
  margin-left: 40px;
  color: white;
}
@media (max-width: 1400px) {
  .header .header-info .texts a {
    font-size: 20px;
    margin-left: 20px;
  }
}
.header .header-info .texts a:hover {
  color: #CA9D75;
}

.planing-image {
  position: relative;
  z-index: 0;
}
.planing-image .vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.planing-image .fon {
  width: 100%;
}

.select-wrap {
  position: relative;
  min-width: 73px;
}
.select-wrap select {
  display: none;
}
.select-wrap .select2 {
  position: relative;
  width: 100% !important;
  height: 100%;
}
.select-wrap .select2 .selection {
  width: 100%;
}
.select-wrap .select2-container--default .select2-selection--single {
  background-color: transparent;
  text-align: left;
  border: none;
  padding: 0;
  height: 100%;
}
.select-wrap .select2-container--default .select2-selection--single:focus {
  outline: none;
}
.select-wrap .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 24px;
  padding: 0;
  font-weight: 300;
  color: #fff;
  padding: 10px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-top: 0;
}
.select-wrap .select2-selection__arrow {
  width: 18px !important;
  height: 11px !important;
  top: 50% !important;
  right: 5px !important;
  transform: translateY(-50%);
  z-index: 1 !important;
  background-color: transparent;
}
.select-wrap .select2-selection__arrow b {
  background: url(../img/select-arrow.svg) no-repeat center center;
  width: 18px !important;
  height: 11px !important;
  border: none !important;
  transition: 0.2s;
  margin-top: -5px !important;
}
.select-wrap .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(180deg);
}

.select2-dropdown {
  border: none !important;
  font-size: 14px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: white;
  color: #141414;
  font-size: 14px !important;
  font-weight: 400;
  transition: 0s;
}
@media (max-width: 767px) {
  .select2-container--default .select2-results__option[aria-selected=true] {
    font-size: 14px !important;
  }
}

.select2-container--default .select2-results__option--highlighted {
  color: #141414;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  font-size: 14px;
  background: white;
  font-weight: 400;
  color: #CA9D75;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    font-size: 14px;
  }
}

.select2-search--dropdown {
  padding: 0;
}

.select2-container--open .select2-dropdown {
  bottom: 0 !important;
  top: 100%;
  transition: 0s;
}

.select2-results__options {
  border: none;
  max-height: 200px !important;
  overflow-y: auto;
  background: white;
  border-radius: 10px;
  padding: 15px 0;
  transition: 0s;
  min-width: 100%;
  width: max-content;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.11);
}
.select2-results__options::-webkit-scrollbar {
  width: 2px;
}
.select2-results__options::-webkit-scrollbar-thumb {
  background-color: #CA9D75;
  border-radius: 10px;
}
.select2-results__options::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}
.select2-results__options::-webkit-scrollbar-button {
  background: #fff;
  display: none;
}

.select2-results__option {
  font-size: 14px;
  background: #fff;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px !important;
  margin-bottom: 10px;
  transition: 0s;
}
.select2-results__option > span {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.select2-results__option > span .apply-data-btn {
  color: #CA9D75;
}
.select2-results__option:last-child {
  margin-bottom: 0;
  border: none;
}
@media (max-width: 767px) {
  .select2-results__option {
    font-size: 14px;
  }
}
.select2-results__option > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.select2-results__option > span img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.select2-search--dropdown {
  border: none;
}

.select2-search {
  display: none;
}

.select2-results__option {
  font-weight: 400;
  padding: 0 15px;
  color: #4f4f4f;
  font-size: 14px;
  transition: 0s;
}
@media (max-width: 767px) {
  .select2-results__option {
    font-size: 14px;
  }
}

.banner {
  height: calc(100vh - 136px);
  background: url(../img/banner-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1024px) {
  .banner {
    height: calc(100vh - 90px);
    position: relative;
    z-index: 0;
  }
  .banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
  }
}
.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.banner .info {
  margin-top: auto;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
@media (max-width: 1400px) {
  .banner .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
  }
}
.banner .info .buttons {
  max-width: 530px;
  width: 100%;
}
@media (max-width: 1500px) {
  .banner .info .buttons {
    max-width: 400px;
  }
}
@media (max-width: 1400px) {
  .banner .info .buttons {
    margin-top: 20px;
  }
}
.banner .info .buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.banner .info .buttons a .text {
  background: #F7DEBC;
  border-radius: 40px;
  padding: 12px 24px;
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  text-align: center;
  color: #3B0608;
}
.banner .info .buttons a .circle {
  background: #F7DEBC;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  margin-left: 6px;
}
.banner .info .buttons a .circle img {
  margin: auto;
}
.banner .info .buttons a.download .text {
  background: white;
}
.banner .info .buttons a.download .circle {
  background: white;
}
.banner .info .buttons a:hover .text {
  background: #3B0608;
  color: white;
}
.banner .info .texts {
  max-width: 1100px;
  padding-right: 20px;
}
@media (max-width: 1400px) {
  .banner .info .texts {
    max-width: 100%;
    padding-right: 0;
  }
}
.banner .info .texts h1 {
  color: #FDF9F6;
  text-shadow: 0px 3.152px 3.152pxrgba 0, 0, 0, 0.25, 0px 3.152px 3.152pxrgba 0, 0, 0, 0.25;
  font-family: "Playfair Display";
  font-size: 92px;
  font-style: italic;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 30px;
}
@media (max-width: 1700px) {
  .banner .info .texts h1 {
    font-size: 70px;
  }
}
@media (max-width: 1400px) {
  .banner .info .texts h1 {
    max-width: 800px;
  }
}
@media (max-width: 767px) {
  .banner .info .texts h1 {
    font-size: 38px;
  }
}
.banner .info .texts p {
  font-size: 36px;
  font-weight: normal;
  color: white;
}
@media (max-width: 1700px) {
  .banner .info .texts p {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .banner .info .texts p {
    font-size: 16px;
  }
  .banner .info .texts p br {
    display: none;
  }
}

#video {
  background: #F7F4EF;
}
#video .video {
  border-radius: 10px;
  height: 800px;
}
@media (max-width: 767px) {
  #video .video {
    height: 60vw;
  }
}
#video .video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info-block {
  background: #F7F4EF;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .info-block {
    padding: 30px 0;
  }
}
.info-block .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1600px) {
  .info-block .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 1600px) {
  .info-block .items .item {
    grid-column: inherit !important;
    grid-row: inherit !important;
    width: 49.2%;
    margin-bottom: 20px;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .info-block .items .item {
    width: 100%;
  }
}
.info-block .items .item.item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 360px;
}
.info-block .items .item.item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-block .items .item.item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 360px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url(../img/info-bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 40px;
}
@media (max-width: 767px) {
  .info-block .items .item.item2 {
    padding: 40px 20px;
  }
}
.info-block .items .item.item2 .texts span {
  display: block;
  color: white;
  font-size: 24px;
}
@media (max-width: 1800px) {
  .info-block .items .item.item2 .texts span {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .info-block .items .item.item2 .texts span {
    font-size: 18px;
  }
}
.info-block .items .item.item2 .texts b {
  font-size: 40px;
  font-weight: bold;
  color: #eedec2;
  font-family: "Playfair Display", serif;
}
@media (max-width: 1800px) {
  .info-block .items .item.item2 .texts b {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .info-block .items .item.item2 .texts b {
    font-size: 30px;
  }
}
.info-block .items .item.item3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 3/5;
  grid-row: 1/3;
  height: 950px;
}
.info-block .items .item.item3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-block .items .item.item4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 570px;
}
@media (max-width: 1600px) {
  .info-block .items .item.item4 {
    order: 1;
    height: auto;
  }
}
.info-block .items .item.item4 .info {
  margin-top: auto;
}
.info-block .items .item.item4 .info h4 {
  font-size: 40px;
  color: #3B0608;
  font-weight: 900;
  line-height: 95%;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
@media (max-width: 1800px) {
  .info-block .items .item.item4 .info h4 {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .info-block .items .item.item4 .info h4 {
    font-size: 30px;
  }
}
.info-block .items .item.item4 .info p {
  font-size: 30px;
  color: #000;
  margin-bottom: 80px;
}
@media (max-width: 1800px) {
  .info-block .items .item.item4 .info p {
    font-size: 22px;
  }
}
@media (max-width: 1600px) {
  .info-block .items .item.item4 .info p {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .info-block .items .item.item4 .info p {
    font-size: 18px;
  }
}
.info-block .items .item.item4 .info a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 20px;
}
.info-block .items .item.item4 .info a .text {
  background: #3B0608;
  border-radius: 40px;
  padding: 12px 24px;
  flex-grow: 1;
  border: 1px solid #3B0608;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  text-align: center;
  color: #fff;
}
.info-block .items .item.item4 .info a .circle {
  background: #3B0608;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  margin-left: 6px;
}
.info-block .items .item.item4 .info a .circle img {
  margin: auto;
}
.info-block .items .item.item4 .info a.download .text {
  background: white;
}
.info-block .items .item.item4 .info a.download .circle {
  background: white;
}
.info-block .items .item.item4 .info a:hover .text {
  background: #fff;
  color: #3B0608;
}
.info-block .items .item.item5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
  height: 570px;
}
.info-block .items .item.item5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information {
  background: #F7F4EF;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .information {
    padding: 30px 0;
  }
}
.information .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .information .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.information .wrapper .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 62%;
}
@media (max-width: 1400px) {
  .information .wrapper .images {
    width: 100%;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .information .wrapper .images {
    grid-template-columns: 1fr;
  }
}
.information .wrapper .images img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1400px) {
  .information .wrapper .images img {
    width: 100%;
  }
}
.information .wrapper .texts {
  width: 37%;
  background: url(../img/information-red-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px;
}
@media (max-width: 1400px) {
  .information .wrapper .texts {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .information .wrapper .texts {
    padding: 30px 20px;
  }
}
.information .wrapper .texts h2 {
  color: #F7DEBC;
  font-size: 46px;
  font-style: italic;
  font-weight: 800;
  line-height: 90%;
  font-family: "Playfair Display", serif;
  max-width: 570px;
  width: 100%;
  margin: 0 auto 40px;
}
@media (max-width: 1800px) {
  .information .wrapper .texts h2 {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .information .wrapper .texts h2 {
    font-size: 26px;
  }
}
.information .wrapper .texts .items {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
}
.information .wrapper .texts .items .item {
  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #FAF2E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.information .wrapper .texts .items .item:last-child {
  border: none;
  padding-bottom: 0;
}
.information .wrapper .texts .items .item span {
  margin-left: 30px;
  color: #FAF2E7;
  font-size: 22px;
  line-height: 100%;
  font-weight: 300;
}
@media (max-width: 767px) {
  .information .wrapper .texts .items .item span {
    font-size: 18px;
    margin-left: 15px;
  }
}
.information .wrapper .texts .items .item b {
  margin-left: auto;
  font-size: 50px;
  text-transform: uppercase;
  color: #F7DEBC;
}
@media (max-width: 1800px) {
  .information .wrapper .texts .items .item b {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .information .wrapper .texts .items .item b {
    font-size: 30px;
  }
}
.information.style2 .wrapper {
  flex-direction: row-reverse;
}
@media (max-width: 1400px) {
  .information.style2 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.information.style2 .wrapper .texts {
  background: white;
}
.information.style2 .wrapper .texts h2 {
  color: #3B0608;
}
.information.style2 .wrapper .texts .items .item span, .information.style2 .wrapper .texts .items .item b {
  color: #3B0608;
}

.bg-block {
  background: #F7F4EF;
}
.bg-block .bg {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .bg-block .bg {
    height: auto;
    padding: 200px 20px 0;
  }
}
.bg-block .bg .info {
  margin-left: auto;
  margin-top: auto;
  background: url(../img/info-bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 624px;
  padding: 50px;
  margin-right: 100px;
}
@media (max-width: 1024px) {
  .bg-block .bg .info {
    margin: auto;
    padding: 40px 20px;
  }
}
.bg-block .bg .info h3 {
  color: #F7DEBC;
  font-size: 45px;
  font-style: italic;
  font-weight: 800;
  line-height: 90%;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
}
@media (max-width: 1024px) {
  .bg-block .bg .info h3 {
    font-size: 28px;
    margin-bottom: 15px;
  }
}
.bg-block .bg .info p {
  font-size: 28px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .bg-block .bg .info p {
    margin-top: 15px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .bg-block .bg .info p {
    font-size: 16px;
    font-weight: 400;
  }
}
.bg-block .bg .info p b {
  color: white;
}
.bg-block.style2 .bg .info {
  margin-right: auto;
  margin-left: 100px;
  background: white;
}
@media (max-width: 1024px) {
  .bg-block.style2 .bg .info {
    margin: auto;
  }
}
.bg-block.style2 .bg .info h3, .bg-block.style2 .bg .info p, .bg-block.style2 .bg .info b {
  color: #3B0608;
}

.tour-3d {
  height: 800px;
  background: url(../img/tour.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1024px) {
  .tour-3d {
    height: 65vw;
  }
}

.inf-wrap {
  padding: 60px 0;
  background: #F7F4EF;
}
@media (max-width: 1024px) {
  .inf-wrap {
    padding: 30px 0;
  }
}
.inf-wrap .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .inf-wrap .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.inf-wrap .wrapper .texts {
  width: 39%;
  padding: 50px 40px;
  background: url(../img/info-bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1200px) {
  .inf-wrap .wrapper .texts {
    padding: 40px 20px;
  }
}
@media (max-width: 1024px) {
  .inf-wrap .wrapper .texts {
    width: 100%;
    margin-bottom: 30px;
  }
}
.inf-wrap .wrapper .texts h3 {
  color: #F7DEBC;
  font-size: 45px;
  font-style: italic;
  font-weight: 800;
  line-height: 90%;
  font-family: "Playfair Display", serif;
}
@media (max-width: 1700px) {
  .inf-wrap .wrapper .texts h3 {
    font-size: 36px;
  }
}
@media (max-width: 1024px) {
  .inf-wrap .wrapper .texts h3 {
    font-size: 28px;
  }
}
.inf-wrap .wrapper .texts p {
  font-size: 28px;
  font-weight: 500;
  color: white;
  margin: 60px 0;
}
@media (max-width: 1700px) {
  .inf-wrap .wrapper .texts p {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .inf-wrap .wrapper .texts p {
    margin: 20px 0;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .inf-wrap .wrapper .texts p {
    font-size: 16px;
    font-weight: 400;
  }
}
.inf-wrap .wrapper .texts p b {
  color: white;
}
.inf-wrap .wrapper .texts .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1500px) {
  .inf-wrap .wrapper .texts .items {
    grid-template-columns: 1fr;
  }
}
.inf-wrap .wrapper .texts .items .item {
  padding: 10px;
  border-radius: 40px;
  background: #FAF2E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.inf-wrap .wrapper .texts .items .item .text {
  font-size: 20px;
  font-weight: 500;
  color: #59160C;
  margin-left: 10px;
}
@media (max-width: 1700px) {
  .inf-wrap .wrapper .texts .items .item .text {
    font-size: 16px;
  }
}
.inf-wrap .wrapper .texts .items .item .icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #59160C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .inf-wrap .wrapper .texts .items .item .icon {
    width: 34px;
    height: 34px;
  }
}
.inf-wrap .wrapper .texts .items .item .icon img {
  margin: auto;
}
@media (max-width: 1024px) {
  .inf-wrap .wrapper .texts .items .item .icon img {
    width: 20px;
  }
}
.inf-wrap .wrapper .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 59%;
}
@media (max-width: 1024px) {
  .inf-wrap .wrapper .img {
    width: 100%;
  }
}
.inf-wrap .wrapper .img img {
  width: 100%;
}

.info-wrapper .top-info {
  padding: 60px 0;
  background: #3B0608;
}
@media (max-width: 767px) {
  .info-wrapper .top-info {
    padding: 30px 0;
  }
}
.info-wrapper .top-info h2 {
  color: #F7DEBC;
  font-size: 90px;
  font-style: italic;
  font-weight: 800;
  line-height: 90%;
  font-family: "Playfair Display", serif;
}
@media (max-width: 1700px) {
  .info-wrapper .top-info h2 {
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .info-wrapper .top-info h2 {
    font-size: 28px;
  }
}
.info-wrapper .top-info p {
  font-size: 40px;
  font-weight: 400;
  color: white;
  margin: 40px 0;
}
@media (max-width: 1700px) {
  .info-wrapper .top-info p {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .info-wrapper .top-info p {
    margin: 20px 0;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .info-wrapper .top-info p {
    font-size: 16px;
    font-weight: 400;
  }
}
.info-wrapper .top-info p b {
  color: white;
}
.info-wrapper .top-info .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .info-wrapper .top-info .items {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.info-wrapper .top-info .items .item {
  padding: 10px;
  border-radius: 40px;
  background: #FAF2E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 270px;
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .info-wrapper .top-info .items .item {
    width: 49%;
    margin-right: 0;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .info-wrapper .top-info .items .item {
    width: 100%;
  }
}
.info-wrapper .top-info .items .item .text {
  font-size: 20px;
  font-weight: 500;
  color: #59160C;
  margin-left: 10px;
}
@media (max-width: 1700px) {
  .info-wrapper .top-info .items .item .text {
    font-size: 16px;
  }
}
.info-wrapper .top-info .items .item .icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #59160C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .info-wrapper .top-info .items .item .icon {
    width: 34px;
    height: 34px;
  }
}
.info-wrapper .top-info .items .item .icon img {
  margin: auto;
}
@media (max-width: 1024px) {
  .info-wrapper .top-info .items .item .icon img {
    width: 20px;
  }
}
.info-wrapper.style2 .top-info {
  background: #F7F4EF;
}
.info-wrapper.style2 .top-info h2, .info-wrapper.style2 .top-info p, .info-wrapper.style2 .top-info b {
  color: #3B0608;
}
.info-wrapper.style2 .top-info .items .item {
  background: #3B0608;
}
.info-wrapper.style2 .top-info .items .item .text {
  color: #fff;
}
.info-wrapper.style2 .top-info .items .item .icon {
  background: #fff;
}

.info-slider-wrap {
  position: relative;
  z-index: 0;
  padding: 60px 0;
  background: #F7F4EF;
}
@media (max-width: 1024px) {
  .info-slider-wrap {
    padding: 30px 0;
  }
}
.info-slider-wrap .info-slider .slick-list {
  margin: 0 -10px;
}
.info-slider-wrap .info-slider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  margin: 0 10px;
}
@media (max-width: 1600px) {
  .info-slider-wrap .info-slider .item {
    width: 500px;
  }
}
@media (max-width: 1300px) {
  .info-slider-wrap .info-slider .item {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .info-slider-wrap .info-slider .item {
    width: auto;
  }
}
.info-slider-wrap .info-slider .item img {
  width: 100%;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
